.category-list .category-list-item {
    display: inline-flex
}
.category-list .category-list-item .category-actions {
    display: flex
}
.category-menu {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #359 url(../images/bg.png) repeat-x 0 -110px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5)
}
.category-menu li {
    margin: 10px;
    float: left;
    position: relative;
    list-style: none
}
.category-menu a {
    font-weight: 700;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    border-radius: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7)
}
.category-menu .current a,
.category-menu li:hover > a {
    background: #78a url(../images/bg.png) repeat-x 0 -20px;
    color: #000;
    border-top: 1px solid #f8f8f8;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .7);
    text-shadow: 0 2px 2px rgba(255, 255, 255, .7)
}
.category-menu li:hover li a,
.category-menu ul li:hover a {
    background: 0 0;
    border: none;
    color: #000
}
.category-menu ul li a:hover {
    background: #359 url(../images/bg.png) repeat-x 0 -100px;
    color: #fff;
    border-radius: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7)
}
.category-menu li:hover > ul {
    opacity: 1;
    visibility: visible
}
.category-menu ul {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    width: 175px;
    position: absolute;
    background: #abc url(../images/bg.png) repeat-x 0 0;
    border: 1px solid #78a;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    transition: opacity .25s linear, visibility .1s linear .1s
}
.category-menu ul li {
    float: none;
    margin: 0
}
.category-menu ul a {
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(255, 255, 255, .7)
}
.category-menu ul ul {
    left: 160px;
    top: 0
}
.content {
    margin-top: 80px
}
.content a {
    color: red
}
.btn {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}
.table form {
    float: left;
    margin-right: 5px
}